* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", cursive;
}

html {
  font-size: 62.5%;
  color: #0c0c08;
}
body {
  background-color: #ecebe1;
}
#main__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
#calander__container {
  width: 70rem;
  height: 60rem;
}
#calander_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}
.title {
  display: inline-block;
  justify-content: center;
  width: calc(69.2rem / 3);
  align-content: center;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  font-size: 4rem;
}

.title-month {
  text-align: right;
}
.title-year {
  text-align: left;
}

.title-day {
  font-size: 10rem;
  font-weight: 200;
}
#week-days {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}
.week__day {
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: calc(69.2rem / 7);
  display: flex;
  justify-content: center;
  align-content: center;
}
#month-container {
  width: 100%;
  border: 0.2rem solid #0c0c08;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.day {
  position: relative;
  display: flex;
  letter-spacing: 0.2rem;
  font-weight: normal;
  font-size: 2rem;
  width: calc(69.6rem / 7);
  height: calc(55rem / 6);
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  align-items: center;
  overflow: hidden;
}
.day:hover:not(.today, .place-holder) {
  box-shadow: inset 0px 0px 15px rgba(189, 89, 89, 0.9);
}
.today {
  background-color: #bd5959;
  color: #eff4ee;
}
.place-holder {
  order: 0;
  flex: 2 1 auto;
}
span.tasks {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 0rem;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
  background-color: rgb(86, 177, 189);
  text-align: right;
  clip-path: polygon(100% 0, 0% 0, 100% 100%);
}
span.tasks p {
  padding: 1rem;
  color: #eff4ee;
  font-size: 1.2rem;
}
/* == Schedule of today == */
#tasks__container {
  width: 70rem;
  height: 60rem;
}
